.home-navbar {
  flex-grow: 1;
  background-color: $dark-lava;
  height: 32px;
}

.home-nav-list {
  display: flex;
  list-style: none;
  margin: 0 32px 0 0 ;
  padding: 4px 0 0 0 ;
  
  li:nth-of-type(1) {
    margin-left: auto;
  }
  li:nth-of-type(2) {
    margin-left: 16px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: rgb(226, 192, 240);
    }
  }
}
.home-bkg {
  width: 100%;
  height: 96.7vh;
  .banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, rgba(131, 58, 180, 0.986) 0%, rgb(29, 253, 186) 74%, rgba(249, 69, 252, 0.986) 100%);
    background-size: 6000px 6000px;
    background-blend-mode: hue;
    animation: bg-animation 20s infinite alternate linear;
    display: grid;
    place-items: center;
  }

}

@keyframes bg-animation {
  0% { background-position: left }
  100% { background-position: right }

}

.btn-home {
  margin-top: 10px;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 20px 50px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  transition: 0.5s;
  &:first-of-type {
    background-color: $dark-lava;
    color: white;
  }
  &:nth-of-type(2) {
    border: 2px solid $dark-lava ;
    color: $dark-lava;
  }
  &:hover {
    background-color: rgb(206, 146, 231);
    border: 2px solid rgb(206, 146, 231) ;
    -webkit-box-shadow: 0px 6px 64px -10px #ff3eec88; 
    box-shadow: 0px 12px 39px -10px #ff3eec88;
    text-decoration: none;
    // color: $dark-lava;
  }
}

.home-content {
  display: grid;
}
.logo {
  height: 400px;
  margin-bottom: 20px;
}