// Import page-specific CSS files here.
@import "home";
.index-bkg {
  background: linear-gradient(40deg, rgba(131, 58, 180, 0.986) 0%, rgb(29, 253, 186) 74%, rgba(249, 69, 252, 0.986) 100%);
    background-size: 6000px 6000px;
    background-blend-mode: hue;
    animation: bg-animation 20s infinite alternate linear;
}
.index-grid-container {
  display: grid;
  grid-template-rows: 27px auto 25px;
  grid-template-areas: 
  "navbar"
  "index-content"
  "footer";
  .index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    table {
      margin: 100px;
    }
    th {
      background-color: $muted-transparent-home-pink;
      text-align: center;
      &:first-of-type {
        background-color:  #463F3A;
        
      }
    }
    tr { 
      transition: 0.2s;
      background-color: rgba(255, 255, 255, 0.575);
    
      &:hover {
        background-color: $less-home-pink;
        transform: scale(1.01);
        transition: 0.2s;
        -webkit-box-shadow: 0px 6px 64px -10px #881c7d88; 
        box-shadow: 0px 12px 39px -10px #83217988;
        border: 1px solid #83217988;
      }

      p {
        margin: 5px !important;
      }
    }
    tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.8);
      &:hover {
        background-color: $less-home-pink;        

      }
    }
    .table-title {
      width: 50%;
    }
    .table-ratings {
      width: 60px;
    }
    td, th {
      &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        border: 1px solid $dark-lava;
        border-collapse: collapse;
      }
    }
  }
  .modal-body {
    overflow-x: hidden;
    white-space: pre-line;
  }
  .index-footer {
    background: linear-gradient(180deg, rgba(255,255,255,0) 14%, rgba(70,63,58,1) 100%) !important;
  }
}