.grid-container {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 4vh 93vh 3vh;
  grid-template-areas: 
  "navbar navbar"
  "usertab lyricstab"
  "footer footer";
  background-color: $dark-lava;
}
.user-navbar {
  grid-area: navbar;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $dark-lava;
  padding: 5px;
  img {
    height: 60px;
    position: absolute;
    margin-right: 16px;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
  a {
    color: white;
    font-weight: bold;
    margin-right: 16px;
    &:hover {
      text-decoration: none;
      color: rgb(226, 192, 240)
    }
  }
}

////////////////
// users tab //
////////////////
.user-tab {
  grid-area: usertab;
  background-color: $dark-lava;
  max-height: 100%;
  display: grid;
  align-content: flex-start;
  grid-template-areas: 
  "userinfo"
  "lyricstab";
  //align-content: start;
  grid-template-rows: auto 0%;
  .user-info {
    grid-row: userinfo;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-pic {
      margin-top: 32px;
      img {
        height: 100px;
        width: 100px;
      }
    }
    .username {
      margin-top: 8px;
    }
  }

////////////////
// lyrics menu //
////////////////
  .lyrics-menu {
    grid-row: lyricsmenu;
    justify-self: center;
    overflow-x: hidden;
    min-height: 100%;
    background-color: $dark-lava;
    z-index: 1;
    width: 100%;
    // SONG LINK
    .song-link {
      justify-self: center;
      margin-bottom: 8px;
      padding-left: 16px;
      color: white;
      border: 2px solid transparent;
      &:hover {
        background-color: $home-pink !important;
        -webkit-box-shadow: 0px 6px 64px -10px $darker-home-pink; 
        box-shadow: 0px 12px 39px -10px $darker-home-pink;
        transition: 0.8s;
      } 
      &:nth-child(1) {
        text-align: center;
        padding-top: 16px;
        padding-left: 0;
        padding-bottom: 8px;
        &:hover {
          background-color: rgba(206, 146, 231, 0.219)!important;
          -webkit-box-shadow: 0px 6px 64px -10px #ff3eec00; 
          box-shadow: 0px 12px 39px -10px #ff3eec00;
        } 
      }   
    }
    .active {
      background-color: rgba(206, 146, 231, 0.644) !important;
      border: 2px solid transparent;
      -webkit-box-shadow: 0px 6px 64px -10px $darker-home-pink; 
      box-shadow: 0px 12px 39px -10px $darker-home-pink;
    }
    // DELETE BUTTON
    .delete-song {
      transform: translateY(50%);
      text-align: right !important;
      float: left;
      display: inline;
      padding: 0;
      border: 0;
      margin-left: 3px;
      background-color: transparent;
    }
    // SCROLLBAR

  }
}

////////////////
// lyrics grid //
////////////////
.lyrics-tab {
  grid-area: lyricstab;
  background-color: white;
  overflow-x: hidden;
  .lyrics-grid-wrapper {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-template-areas:
    "title title"
    "lyrics notes";
    ////////////////
    // title tab //
    ////////////////
    .title {
      grid-area: title;
      padding: 30px 30px 0 30px;
    }
    ////////////////
    // lyrics tab //
    ////////////////
    .lyrics {
      grid-area: lyrics;
      padding: 0 30px 30px 30px;
      white-space: pre-wrap;
      text-align: center;
      border: 2px solid transparent;
    }
    ////////////////
    // notes tab //
    ////////////////
    .notes {
      grid-area: notes;
      padding: 0 30px 30px 30px;
      white-space: pre-wrap;
    }
  }
  .edit-song {
    position: fixed;
    bottom: 15px;
  }
}


.footer {
  grid-area: footer;
}