.grid-container {
  // add media queries for netbooks, tablets, phones
  max-height: 100vh;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 4vh 93vh 3vh;
  grid-template-areas: 
  "navbar navbar"
  "usertab lyricstab"
  "footer footer";
  background-color: #463f3a;
}
.navbar {
  grid-area: navbar;
  background-color: #463f3a;
}

////////////////
// users tab //
////////////////
.user-tab {
  grid-area: usertab;
  background-color: #463f3a;
  max-height: 100%;
  display: grid;
  grid-template-areas: 
  "userinfo"
  "lyricstab";
  align-content: start;
  grid-template-rows: 30% auto;
  .user-info {
    grid-row: userinfo;
    height: 200px;
    display: flex;
    flex-direction: column;
    .avatar-pic {
      align-self: center;
      margin-top: 20px;
      img {
        height: 200px;
        width: 200px;
      }
      .username {
        justify-self: center;
      }
    }
  }
  .lyrics-menu {
    grid-row: lyricsmenu;
    justify-self: center;
    overflow-x: hidden;
    min-height: 200px;
    max-height: 95%;
    background-color: #fff;
    z-index: 1;
    width: 95%;
    .song-link {
      justify-self: center;
      text-align: center;
    }
    .delete-song {
      text-align: right !important;
      float: left;
      display: inline;
    }
  }
}

////////////////
// lyrics tab //
////////////////
.lyrics-tab {
  grid-area: lyricstab;
  background-color: white;
  overflow-x: hidden;
  .lyrics-grid-wrapper {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "title title"
    "lyrics notes";
    .title {
      grid-area: title;
      padding: 30px;
    }
    .lyrics {
      grid-area: lyrics;
      padding: 30px;
      white-space: pre-wrap;
      text-align: center;
    }
    .notes {
      grid-area: notes;
      padding: 30px;
      white-space: pre-wrap;
    }
  }
  .edit-song {
    position: fixed;
    bottom: 15px;
  }
}

////////////////
// notes tab //
////////////////
.footer {
  grid-area: footer;
}