

<!--GRID wrapper-->
<div class="grid-container wrapper">

  <!--GRID -  navbar (holds more link to user and MyLy (to public index)) -->
  <div class="navbar">
    NAVBAR
  </div>
  <%#= link_to 'Back', song_texts_path %>
  <!--GRID -  lyr-title -->
  <div class="lyr-title">
    LYRICS TITLE
  </div>

  <!--GRID -  user-tab (flexbox)-->
  <div class="user-tab">
  
    <!--user container (avatar, name) -->
    <div class="user-info">
      <div class="avatar-pic">
        <div class="img-bkg">
        </div>
        <%= image_tag  "https://thispersondoesnotexist.com/image" %>
      </div>
        <h3 class="username"><%= @user.email %></h3>
    </div>

    <!--lyrics menu -->
    <div class="lyrics-menu">
      <div class="each-lyric">
        <% if @song_texts %>
          <% @song_texts.each do |song_text| %>
            <h2><%= link_to "#{song_text.id} #{song_text.title}", song_text %></h2> 
            <h2><%= link_to "#{song_text.id} #{song_text.title}", song_text %></h2>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <!--GRID -  lyr-tab -->
  <div class="lyrics-tab">
    p
  </div>

  <!--GRID -  notes-tab -->
  <div class="notes-tab">
    p
  </div>


  <!--  - Footer-->
  <div class="footer">
    p
  </div>

</div>


