<div class="home-bkg">
  <div class="banner">
    <!--h1>MyLy</h1-->
    <div class="home-content">
      <%= image_tag "tmp/logo.svg" %> <br>

      <%= link_to "Your Lyrics", user_song_texts_path, class:"btn-home" %>  
    </div>
  </div>
</div>

