<div class="home-bkg">
  <%= render "shared/navbar" %>
  <div class="banner">
    <div class="home-content">
      <%= image_tag "tmp/Asset-3d.svg", class: "logo" %> <br>

      <%= link_to "Your Lyrics", user_song_texts_path, class:"btn-home" %> 
      <%= link_to "Explore", song_texts_path, class:"btn-home" %>
    </div>
  </div>
</div>

