.sessions-main-container {
  width: 100%;
  background: linear-gradient(40deg, rgba(131, 58, 180, 0.986) 0%, rgb(29, 253, 186) 74%, rgba(249, 69, 252, 0.986) 100%);
  background-size: 6000px 6000px;
  background-blend-mode: hue;
  animation: bg-animation 20s infinite alternate linear;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.sessions-content-container {
  display: flex;
  align-self: flex-start;
  margin-top: 100px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 12px 39px -10px #ff3eec7a; 
  box-shadow: 0px 12px 39px -10px #ff3eec71;
  max-width: 50%;
  min-width: 50%;
  min-height: 50%;
  padding: 24px 24px 0 24px;
  justify-content:space-around;
  margin-bottom: 80px;
  
  .session-form {
    text-align: left;
  }
  .form-actions {
    text-align: right;
    margin-top: 32px;
  }
  .sessions-btn-main{
    background-color: #463f3a;
    color: white;
    transition: 0.5s;
    &:hover {
      background-color: $muted-transparent-home-pink !important;
      text-decoration: none;

    }
  }
  .extra-btn {
    position: relative;
    display: flex;
    bottom: 8px;
    font-weight: bold;
    margin: 8px 0px 8px -21px;
    .sessions-btn {
      margin-left: 24px;
      color: #463f3a;
      &:hover {
        color: rgb(226, 192, 240);
        text-decoration: none;
        transition: 0.5s;
      }
    }
  }
}