// PALLETE
  //main colors
    $dark-lava: #463F3A;
    $middle-gray: #8A817C;
    $pale-silver: #BCB8B1;
    $alabaster: #F4F3EE;
    $home-pink: rgb(206, 146, 231);
    $less-home-pink: rgb(226, 192, 240);
    $muted-home-pink: rgb(165, 137, 177);
    $muted-transparent-home-pink: rgba(206, 146, 231, 0.644);
    $darker-transparent-home-pink: #ff3eec88;
    
  // tags colors
    $pink: #ba3262;
    $red: #73092e;
    $blue: #18096E;
    $green: #7E8C2B;
    $purple: #5F42FF;
    $orange: #94372B;
    $yellow: #E39F20;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/user_song_texts";
@import "components/sessions";
@import "components/navbar";

// GLOBAL Settings
body {
  background-color: $dark-lava !important;
}
.body-container {
  background-color:  $dark-lava;
  height: 100%;
  min-width: 100vh;
  min-height: 100vh;
}


.new-form-container {
  height : 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Blinker', sans-serif !important;
}

p {
  font-family: 'Roboto', sans-serif !important;
}

a {
  font-family: 'Blinker', sans-serif !important;
  &:hover {
    text-decoration: none;
    
  }
}
::-webkit-scrollbar {
  width: 14px;
  background-color: $dark-lava;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: $middle-gray ;
  -webkit-box-shadow: $middle-gray;
  background-color: rgba(206, 146, 231, 0.178);
}
::-webkit-scrollbar-thumb:hover {
  background: $muted-home-pink;
  transition: 0.5s;
}

.alert {
  background-color: $less-home-pink;
  border: 0px solid transparent;
  color: $dark-lava;
  animation:  alert-disappear 10s ease-out;
  animation-fill-mode: forwards;
}

@keyframes alert-disappear {
  80% { opacity: 100%; }
  100% { opacity: 0; }
}