// PALLETE
  //main colors
    $dark-lava: #463F3A;
    $middle-gray: #8A817C;
    $pale-silver: #BCB8B1;
    $alabaster: #F4F3EE;
    $home-pink: rgb(206, 146, 231);
    $muted-home-pink: rgb(165, 137, 177);
    $darker-home-pink: #ff3eec88;
  // tags colors
    $pink: #ba3262;
    $red: #73092e;
    $blue: #18096E;
    $green: #7E8C2B;
    $purple: #5F42FF;
    $orange: #94372B;
    $yellow: #E39F20;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/user_song_texts";
@import "components/sessions";

// GLOBAL Settings
.body-container {
  background-color: $pale-silver;
  height: 100vh;
}

.new-form-container {
  height : 100vh;
}

a {
  &:hover {
    text-decoration: none;
  }
}
::-webkit-scrollbar {
  width: 12px;
  background-color: $dark-lava;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: $middle-gray ;
  -webkit-box-shadow: $middle-gray;
  background-color: $middle-gray;
  border: 1px solid rgba(29, 253, 186, 0.262);
}
::-webkit-scrollbar-thumb:hover {
  background: $muted-home-pink;
  transition: 0.5s;

}